vendor
node_modules
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
storage/app/database.sqlite
public/build
.git
.idea
.vscode
.env
tests
.phpunit.result.cache
composer.lock
package-lock.json
