.env
.env.*
!.env.example
.git
.gitignore
.idea
.vscode
node_modules
vendor
storage/framework/cache/**
storage/framework/sessions/**
storage/logs/**
database/database.sqlite
tests
.phpunit.result.cache
composer.phar
.DS_Store
Thumbs.db
